/* REGOLE GENERALI DI PAGINA */
body {
  background: url(../img/sfondo.jpg);
  background-size: cover;
}

*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: auto;
}

/* REGOLE HEADER */
.header {
  height: 250px;
  background: url("../img/foresta.jpg");
  border: 4px solid white;
  margin-top: 2%;
  position: relative;
}

/* LAYOVER HEADER */
.layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

h1 {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid white;
  padding: 5px;
}

.sottotitoloheader{
  font-size: 20px;
  color: white;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
}

/* REGOLE GENERALI NAVBAR */
.navbar {
  background-color: grey;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 2%;
}

/* REGOLA GENERALE UNORDERED LIST */
.navbar ul {
  list-style-type: none;
}
/* CLEARFIX UL */
.navbar ul:after {
  content: "";
  display: table;
  clear: both;
}

/* REGOLA GENERALE LIST ITEM */
.navbar li {
  float: left;
  width: 14.28%;
  text-align: center;
  font-size: 15px;
}
/* REGOLE PER IL LINK */
.navbar a {
  color: white;
  line-height: 40px;
  display: block;
  text-decoration: none;
}

/* COMPORTAMENTO HOVER NAVBAR */
li a:hover {
  background-color: darkgrey;
  color: black;
}

main:after {
  content: "";
  display: table;
  clear: both;
}

.titolocolonna {
  margin-bottom: 25px;
  color: #3E2723;
}

p {
  color: #3E2723;
}

.containertitolo {
  margin-bottom: 25px;
}
.containertitolo:after {
  content: "";
  display: table;
  clear: both;
}

/* REGOLE ICONA FEED */
img {
  float: left;
  width: 20%;
  margin-top: 5%;
}

.titoloprimacolonna{
  float: left;
  padding: 0;
  width: 70%;
  margin-left: 10%;
  margin-top: 0;
}
.primacolonna {
  float: left;
  width: 20%;
  padding: 15px;
  border-radius: 4px;
  background-color: white;
}

/* REGOLE LINK PRIMA COLONNA */
.linkwidget {
  display: block;
  color: green;
  margin-bottom: 20px;
  text-decoration: none;
}

.secondacolonna {
  float: left;
  width: 54%;
  margin-right: 3%;
  margin-left: 3%;
  padding: 15px;
  border-radius: 4px;
  background-color: white;
}

.terzacolonna{
  float: left;
  width: 20%;
}

.terzacolonna div {
  background-color: white;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 4px;
}

/* REGOLE FOOTER */
.footer {
  background: white;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}
