/* REGOLE GENERALI DI PAGINA */
body {
  background: url(../img/sfondo.jpg);
  background-size: cover;
}

*{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 70%;
  margin: auto;
}

/* REGOLE HEADER */
.header {
  margin-top: 2%;
  height: 250px;
  background: url("../img/foresta.jpg");
  background-size: contain;
  position: relative;
  border: 5px solid white;
}

/* LAYOVER HEADER */
.layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

h1 {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid white;
  padding: 5px;
}

.sottotitoloheader{
  font-size: 20px;
  color: white;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, -50%);
}

.navbar {
  background: blue;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

main:after {
  content: "";
  display: table;
  clear: both;
}

.titolocolonna {
  margin-bottom: 10px;
  color: #3E2723;
}

p {
  color: #3E2723;
}

.containertitolo:after {
  content: "";
  display: table;
  clear: both;
}

/* REGOLE ICONA FEED */
img {
  float: left;
  width: 20%;
  margin-top: 5%;
}

.titoloprimacolonna{
  float: left;
  padding: 0;
  width: 70%;
  margin-left: 10%;
  margin-top: 0;
}
.primacolonna {
  float: left;
  width: 20%;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
}

.secondacolonna {
  float: left;
  width: 54%;
  margin-right: 3%;
  margin-left: 3%;
  padding: 8px;
  border-radius: 4px;
  background-color: white;
}

.terzacolonna{
  float: left;
  width: 20%;
}

.terzacolonna div {
  background-color: white;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 4px;
}
/* REGOLE FOOTER */
.footer {
  background: white;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}
